.winningMain {
  position: absolute;
  padding: 8px;
  background-color: yellow;
  border-radius: 8px 8px 8px 8px;
  width: 100%;
  height: 100%;
  opacity: 0.6;
}

.winningContent {
  position: absolute;
  width: 100%;
  height: 100%;
}

#buttonHolder {
  top: 50%;
  left: 50%;
  transform: translate(14%, -10%);
}

h1 {
  font-size: 55px;
  font-family: "Arial Black";
  color: white;
  text-align: center;
  padding-top: 160px;
  opacity: 1;
}

.boxButton {
  background-color: rgb(255, 255, 229);
  height: 48px;
  width: 32%;
  border: none;
  text-align: center;
  font-size: 18px;
  cursor: pointer;
  font-weight: bold;
  border-radius: 8px;
  margin-left: 14px;
  margin-right: 14px;
}


