.grid {
  width: 480px;
  height: 480px;
  border: 8px solid #bbada0;
  background-color: #bbada0;
  border-radius: 8px;
}

.row {
  display: flex;
  height: 120px;
}

.cell {
  margin: 6px;
  width: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  font-family: sans-serif;
  font-weight: bold;
  border-radius: 8px;
}

.header {
  background-color: #bbada0;
  font-family: sans-serif;
  font-weight: bold;
  width: fit-content;
  height: fit-content;
  overflow: hidden;
}

.score {
  float: left;
  width: 100px;
  background-color: #cdc1b4;
  margin: 5px;
  border-radius: 8px;
}

#scoreNum {
  text-align: center;
  margin: 4px;
}

#scoreTitle {
  text-align: center;
  margin: 4px;
}

.newGame {
  overflow: hidden;
  border-radius: 8px;
  padding: 4px;
  background-color: #cdc1b4;
  margin: 5px;
}

#newGameButton {
  background-color: #cdc1b4;
  border: none;
  width: 120px;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  margin: 5px;
  padding-top: 6px;
  padding-bottom: 6px;
  font-weight: bold;
}
