.grid {
  width: 480px;
  height: 480px;
  border: 8px solid #bbada0;
  background-color: #bbada0;
  border-radius: 8px;
}

.row {
  display: flex;
  height: 120px;
}

.cell {
  margin: 6px;
  width: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  font-family: sans-serif;
  font-weight: bold;
  border-radius: 8px;
}

.header {
  background-color: #bbada0;
  font-family: sans-serif;
  font-weight: bold;
  width: 200px;
  overflow: hidden;
}

.score {
  float: left;
  width: 100px;
}

.newGame {
  width: 100px;
  overflow: hidden;
}
