.App {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.gridMain {
  width: 480px;
  height: 480px;
  position: relative;
}

.winningMain {
  position: absolute;
  padding: 8px;
  background-color: yellow;
  border-radius: 8px 8px 8px 8px;
  width: 100%;
  height: 100%;
  opacity: 0.6;
}

.winningContent {
  position: absolute;
  width: 100%;
  height: 100%;
}

.grid {
  position: absolute;
  border: 8px solid #bbada0;
  background-color: #bbada0;
  border-radius: 8px 8px 8px 8px;
  width: 100%;
  height: 100%;
}

.row {
  display: flex;
  height: 25%;
}

.cell {
  margin: 6px;
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  font-family: sans-serif;
  font-weight: bold;
  border-radius: 8px;
}

.header {
  background-color: #bbada0;
  font-family: sans-serif;
  font-weight: bold;
  width: 53%;
  height: fit-content;
  overflow: hidden;
  position: relative;
  left: 50%;
  padding-left: 2px;
  margin-bottom: 15px;
  border-radius: 8px 8px 8px 8px;
}

.score {
  float: left;
  width: 42%;
  margin: 10px 0px 10px 12px;
  background-color: #ffca92;
  border-radius: 8px;
}

#scoreNum {
  text-align: center;
  margin: 4px;
}

#scoreTitle {
  text-align: center;
  margin: 4px;
}

.newGame {
  float: right;
  width: 42%;
  margin: 10px 16px 0px 6px;
}

#newGameButton {
  background-color: #fffb79;
  height: 48px;
  width: 100%;
  border: none;
  text-align: center;
  font-size: 18px;
  cursor: pointer;
  font-weight: bold;
  border-radius: 8px;
}

.boxButton {
  background-color: rgb(255, 255, 229);
  height: 48px;
  width: 32%;
  border: none;
  text-align: center;
  font-size: 18px;
  cursor: pointer;
  font-weight: bold;
  border-radius: 8px;
  margin-left: 14px;
  margin-right: 14px;
}

#buttonHolder {
  top: 50%;
  left: 50%;
  transform: translate(14%, -10%);
}

h1 {
  font-size: 55px;
  font-family: "Arial Black";
  color: white;
  text-align: center;
  padding-top: 160px;
  opacity: 1;
}
